html,body{
    height:100%;
}
.update{
    height:100%;
    width:100%;
    background: url("../images/index_bg.png");
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    font-size:1rem;
    padding-top:3.78rem;
}
.update>p{
    height:1.1rem;
    line-height:1.1rem;
    text-align: center;
    color: #ffffff;
}
.update>.tab{
    height:1.52rem;
    background-color: #202627;
    position: fixed;
    bottom:0;
    width:100%;
    font-family: "Microsoft YaHei UI";
    font-size:0.32rem;
}
.update>.tab>ul>li{
    float: left;
    width:33.333333%;
    height:1.5rem;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.update>.tab>ul>li>img{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%);
    width:0.8rem;
}
.update>.tab>ul>li>img:first-child{
    width:1.5rem;
}
.update>.tab>ul>li>p{
    margin-top:0.8rem;
}